---
layout: default
title: Atkinson Lab
categories:
 - home
---

<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
		
		<div class="h1">
			<img width=300 src="{{ site.url }}{{ site.baseurl }}/images/AtkinsonLab_notext.png">
			<b>Atkinson Lab</b>
		</div>
		<!-- <object class="pull-left biglogo" data="/images/AtkinsonLab_notext.png" type="image/png"></object> -->

	</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
		<div class="text-justify">
        Microbial metabolism is a profound source of innovation that has global-scale impacts. Diverse metabolic pathways are linked through trophic networks enabling electrons to flow through ecosystems and drive the geochemical cycles of our planet. As microbes colonized diverse ecosystems, they evolved a range of proteins to control electron flow across spatial scales that span seven orders of magnitude (from the nm to cm scale).
		<br><br>
		The <b>Atkinson Lab</b> in the <b><a class="off" href="https://cee.princeton.edu/"> Department of Civil and Environmental Engineering</a></b> and <b><a class="off" href="https://bioengineering.princeton.edu/">Princeton Bioengineering Institute</a></b> focuses on using protein engineering and synthetic biology approaches to program electroactive proteins and cells to (1) interface bacteria with electronic devices to control and measure fluxes through metabolic circuits, and (2) control geochemical cycles by altering how electrons flow through microbial ecosystems. 
		<br><br>
		Our work is delivering fundamental insights into the biophysical properties that enable microbial redox proteins to interact with insoluble materials, including electrical devices, to improve our information processing and catalytic capabilities.
		</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/blog/">Recent posts</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.blog limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<a class="off" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
			{{ site.url }}{{ site.baseurl }}{{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
			{{ site.url }}{{ site.baseurl }}{{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
			{{ site.url }}{{ site.baseurl }}{{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="{{ site.url }}{{ site.baseurl }}/papers/">Featured papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers %}
	{% if paper.featured %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<a class="off" href="{{ site.url }}{{ site.baseurl }}{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>

<div class="spacer"></div>

<!-- <div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div> -->

<!-- <div class="spacer"></div>


<hr class="thin">
<div class="row">
	<div class="col-lg-12">
		<div class="pad-left">
		<div class="float-lg-right" style="vertical-align: bottom; display: table-cell;">
		  <a class="off" href="https://www.princeton.edu/">
			<img width=300 src="/images/logos/pu-logo.svg">
		  </a>
		  <div class="spacer"></div>
		  <div class="spacer"></div>
		</div>
	</div>

	<div class="pad-left">
		{% for page in site.categories.misc %}
		<div class="col-sm-3">
			<a class="off" href="{{ page.url }}">{{ page.title }}</a>
		<div class="spacer"></div>
		</div>
		{% endfor %}

		<div class="col-sm-3">
				<a class="off" href="/talks/">Talks</a>
			<div class="spacer"></div>
		</div>

		<div class="col-sm-3">
			<i class="fa fa-twitter fa-fw"></i><a class="off" href="https://twitter.com/meeeeechigan">Twitter</a>
			<div class="spacer"></div>
		</div>

		</div>
	</div>



	<div class="col-lg-12 reduced-gutter">
		
		<div class="spacer"></div>
	</div>
</div> -->

<div class="row">

</div>

<a style="display:none;" rel="me" href="https://genomic.social/@electromicrobe">Hidden Mastodon Link for Verification</a>
