---
layout: default
title: Atkinson lab / papers
categories:
 - papers
---


{% for paper in site.categories.papers %}
{% capture prev_year %}{{ this_year }}{% endcapture %}
{% capture this_year %}{{ paper.year }}{% endcapture %}


{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ this_year }}</h2>
      <hr style="height:2px;border:none;color:#808088;background-color:#808088;" />    </div>
  </div>
  
  <div class="row">
  {% elsif this_year != prev_year and this_year > "2012" %}
    {% assign counter = 0 %}
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if this_year != "2015" %}
      <h2>{{ this_year }}</h2>
      {% else %}
      <h2>2015 and earlier</h2>
      {% endif %}
      <hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
    </div>

  </div>
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 3 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="row">
    <div class="media">
      <div class="media-body">
        <div class="paperlink mb-1"><a href="https://doi.org/{{ paper.doi }}" class="off">{{ paper.title }}</a></div>
        <p class="note">
          {{ paper.authors }}. 
          <br>
          <i>{{ paper.journal }}</i> {{ paper.issue }} 
          {% if paper.pdf %}
            <a class="off" href="{{ site.url }}{{ site.baseurl }}{{ paper.pdf }}"><i class="fa fa-file-pdf-o fa-fw" alt="{{ paper.title }}, PDF file download"></i></a>
          {% endif %}
			    {% if paper.supplement %}
            <!-- Insert supplement link -->
          {% endif %}
			    <!-- {% if paper.doi %}
            <a class="off" href="https://doi.org/{{ paper.doi }}"><i class="fa fa-external-link fa-fw"></i></a> 
          {% endif %} -->
          {% if paper.github %}
            <a class="off" href="{{ paper.github }}"><i class="fa fa-github-alt fa-fw" alt = "{{ paper.title }}, GitHub link"></i></a>
          {% endif %}
          {% if paper.website %}
            <a class="off" href="{{ paper.website }}"><i class="fa fa-globe fa-fw" alt = "{{ paper.title }}, Website link"></i></a>
          {% endif %}
        </p>
      </div>
      {% if paper.image %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ paper.url }}">
        <img alt = "Image for {{ paper.title }} class="ml-3" width=100 class="media-object" src="{{ site.url }}{{ site.baseurl }}{{ paper.image }}">
      </a>
      {% endif %}
    </div>
    <div class="smallspacer"></div>
      </div>
{% endfor %}
  </div>

  